{{outlet}}

<h3 class="head">Contact the Administrator</h3>
<hr>

<p class="body">
  Name: Alyssa <br>
  E-Mail: alyssa.horrocks2@gmail.com
  <br><br>
  Please contact the administrator with any violations of the board rules. No spam please.
</p>
