{{outlet}}

<div class="container">
  {{specific-question question=model.question deleteAnswer="deleteAnswer" answer=answer}}

  {{new-answer question=model.question submitAnswer="submitAnswer"}}
</div>
