{{outlet}}

<h3 class="head">Rules of Submission</h3>
<hr>
<p class="body">
  We reserve the right to remove any post or user from our message boards — although we have no duty to do so. When posts are deleted, it’s usually because they violate one or more of our house rules. Repeated violation of these rules may result in the suspension of your posting privileges.<br><br>

  House Rules:<br><br>

    We live by words online, so we don’t allow obscene, racist or sexually explicit language. Personal attacks are not permitted. We reserve the right to remove posts that are abusive, hateful, or defame or insult anyone. We also reserve the right to remove posts that are off-topic or not in English.<br><br>

    It is illegal to harass or threaten anyone. We take threats, harassment and stalking very seriously. Posts that might be construed as such may be deleted and made available to the proper law enforcement officials.<br><br>

    No solicitations or advertisements are allowed. This includes advertisements for your business, your own online endeavors or the latest get-rich-quick scheme.<br><br>

    You may not suggest or encourage illegal activity. We will assist law enforcement officials in any investigation of such activities.<br><br>

    Choose a name carefully. You may not use names that are offensive, that suggest illegal activities or that are meant to imitate other users.<br><br>

    You must respect the privacy of individuals. This means no posting of phone numbers, addresses, social security numbers or any other private information. We discourage users from posting such information even about themselves, as we cannot control how that information may be used beyond our message boards.<br><br>

    Good manners online means that you don’t post the same note more than once. The online word for posting many times on one topic is “spamming.” We don’t allow it.<br><br>

    You participate at your own risk on the bulletin boards, in chat rooms and in e-mail. You take responsibility for postings under your username and use the information provided here at your own risk. We take no responsibility for the content or opinions posted here.<br><br>

    Please keep these rules in mind as you use our message boards. Thanks for participating.
</p>
